mark {
  background: #bfff00;
  color: black;
}

canvas {
  border:1px solid #000000;
}

.primary-color {
  color: #3d63d2;
}

.text-primary {
  color: #d7dbf6;
}

.text-secondary {
  color: #5a5c69;
}

.background-color {
  color: #f8f9fc;
}

.bg-blue {
  background-color: #3d63d2 !important;
}

.bg-green {
  background-color: #1cc88a !important;
}

#message {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.scroll-annotations {
    max-height: 300px;
    overflow-y: auto;
}

#annotations {
    height: 300px;
}

#categories {
    height: 130px;
}

.scroll-categories {
    max-height: 130px;
    overflow-y: auto;
}